body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* Makes everything flexbox
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    */
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-width: 0;
}

.header, .first, .footer {
    background-color: #1F2937;
    color: #F9FAF8
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
}

.header .left {
    font-size: 24px;
    min-width: 225px;
    flex: 1;
    padding-left: 48px;
}

.header .right {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.first {
    flex: auto;
    display: flex;
    gap: 16px;
    padding: 64px;
}

#big-text {
    font-weight: 900;
    font-size: 48px;
}

.right {
    flex: auto;
}

.second {
    flex: auto;
}

.second .top {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second .bottom {
    display: flex;
}

.third {
    background-color: #E5E7EB;
    flex: auto;
}

.third .top {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.fourth {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    flex: auto;
}

#sign-up {
    border-width: 2px;
    border-radius: 6px;
    border-color: #F9FAF8;
}

.footer {
    padding: 25px;
    text-align: center;
}